* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

.center {
    padding-left: calc(50% - 950px);
    padding-right: calc(50% - 950px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #000;
}

header .group1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29px;
    position: relative;
}

header .group1 img {
    margin-right: 120px;
    transform: scale(2.9) translate(14%, 0%);

}

header .group1 a {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.24em;
    color: #fff;
    transition: text-decoration 0.3s;
    transition: transform 0.3s;
}

header .group1 a:hover {
    transform: scale(1.1);
}

header .group2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}

header .group2 button {
    padding: 11px 34px;
    border-radius: 14px;
    background-color: #0077fe;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.24em;
    color: #fff;
    transition: background-color 0.3s;
}

header .group2 button:hover {
    background-color: #0254b3;
    transform: scale(1.01);

}

header .group2 input {
    padding-left: 14px;
    height: 37px;
    border-radius: 14px;
    width: 300px;
    font-weight: 700;
    font-size: 16px;
}



footer {
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 20px;
    margin-top: 30px;
}

footer .group1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

footer .group1 .phone {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

footer .group2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 39px;
}

footer .group1 h4 {
    font-weight: 700px;
    font-size: 20px;
    letter-spacing: 0.17em;
    color: #fff;
}

footer .group1 h5 {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.12em;
    color: #fff;
}




.recomFilt {
    display: flex;
    flex-direction: row;

    font-size: 20px;
    padding-top: 100px;
    padding-left: 250px;
    gap: 300px;
}






.bodyPage {
    display: flex;
    flex-direction: row;
    gap: 90px;
}

.form-container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: 250px;
    margin-top: 25px;
    box-shadow: 11px 10px 14px 0 rgba(0, 0, 0, 0.25);
    
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 7px;
}
select{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    

}

.obyvlation {
    margin-top: 25px;

}
.obyvlation:hover{
    transform: scale(1.005);
    transition: transform 0.3s;;
}




.kuzov{
    display: flex;
    
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    
}
.kuzov label{
    margin-top: 6px;
  

}
input[type="checkbox"] {
    padding-left: 2px;
    padding-right: 3px;
    
}


