<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style_admin_users.css">
</head>
<body>
    
    <header class="header">
        <div class="group1">
            <img height="21px" src="img/login/header/logo.png" alt="">
            <a href="#" class="link">Избранное</a>
            <a href="#" class="link">Мои объявления</a>
            <a href="#" class="link">Рекомендации</a>
        </div>
        <div class="group2">
            <input type="text" name="" id="" class="search">
            <img src="img/login/header/search.svg" alt="">
            <button>Войти</button>
            <button>Разместить объявление</button>
        </div>
    </header>

    <div class="button_admin">
        <button>Объявления</button>
        <button>Пользователи</button>
    </div>

    <div class="recomFilt">
        <h2>Фильтры</h2>
        <h2>Пользователи</h2>
    </div>

    <div class = "bodyPage">
        <div class="form-container">
            <form>
                <label>Имя:
                    <input type="text" name="name">
                </label>
                <label>Фамилия:
                    <input type="text" name="surname">
                </label>
                <label>Контактный номер:
                    <input type="text" name="phone">
                </label>
                <label>Почта:
                    <input type="text" name="email">
                </label>
                <label>Город:
                    <input type="text" name="city">
                </label>
                <label>Дата рождения:
                    <input type="text" name="birthday">
                </label>
            </form>
        </div>

        <div class="users_list">
            <div class="button_edit">
                <button>Добавить</button>
                <button>Удалить</button>
                <button>Изменить</button>
            </div>
    
            <div class = "users">
                <div class="ob1">
                    <img src="img/login/body/user.jpg" alt="">
                    <p>Имя: Муремеджон</p>
                    <p>Фамилия: Айджн</p>
                    <p>Номер телефона: +7 800 555 35 35</p>
                    <p>Дата рождения: 30.09.2003</p>
                </div>
    
                <div class="ob2">
                    <img src="img/login/body/user.jpg" alt="">
                    <p>Имя: Муремеджон</p>
                    <p>Фамилия: Айджн</p>
                    <p>Номер телефона: +7 800 555 35 35</p>
                    <p>Дата рождения: 30.09.2003</p>
                </div>
    
            </div>
        </div>
    </div>

    <div class="center" style="height: calc(100vh - 85px - 109px)"></div>

    <footer class="center">
        <div class="group1">
            <h4>Связь с нами </h4>
            <div class="phone">
                <img src="img/login/footer/whatsapp.svg" alt="asd"></img>
                <h5>+7(927)-081-52-66</h5>
            </div>
        </div>
        <div class="group2">
            <img src="img/login/footer/youtube.svg" alt="">
            <img src="img/login/footer/instagram.svg" alt="">
            <img src="img/login/footer/facebook.svg" alt="">
            <img src="img/login/footer/twitter.svg" alt=""
            ></div>
    </footer>



</body>
</html>