<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пользователя</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>

<header class="header">
    <div class="group1">
        <a th:href="@{/admin/main}">
            <img height="21px" th:src="@{/img/login/header/logo.png}" alt=""></a>
        <a th:href="@{/user}" class="link__page">Избранное</a>
        <a th:href="@{/user}" class="link__page">Мои объявления</a>
        <a th:href="@{/admin/main}" class="link__page">Рекомендации</a>
    </div>
    <div class="group2">
        <form th:action="@{/admin/main/search}" method="get" style="display: flex;">
            <input type="text" name="query" id="searchInput" class="search__global" th:value="${searchInput}">
            <button style="background-color: rgba(1,1,1,0)" type="submit" th:src="@{/img/login/header/search.svg}">
                    <img th:src="@{/img/login/header/search.svg}" alt="">
            </button>
        </form>
        <button class="button__blue" th:onclick="|window.location.href='@{/create_announcement}'|">Разместить
            объявление
        </button>
        <div th:if="${isAuthenticated}">
            <button class="button__blue" th:onclick="|window.location.href='@{/login}'|">Войти</button>
        </div>
        <div th:unless="${isAuthenticated}">
            <a th:href="@{/user}">
                <img height="25px" th:src="@{/img/login/body/icon-user.png}">
            </a>
        </div>
    </div>
</header>


<div class="body__page center">
    <div class="content">
        <h2>Мой личный профиль</h2>
        <img class="image" th:src="@{/img/login/body/user.jpg}" alt="">
    </div>

    <form class="form__container" th:action="@{/user/change/{id}(id=${user.id})}" th:object="${user}" method="post">
        <input type="hidden" th:value="*{id}">
        <input type="hidden" th:value="*{about}">
        <input type="hidden" th:value="*{city}">
        <input type="hidden" th:value="*{drivingExperience}">
        <label>Имя:
            <input type="text" name="name" th:value="*{name}">
        </label>
        <label>Фамилия:
            <input type="text" name="surname" th:value="*{surname}">
        </label>
        <label>Контактный номер:
            <input type="text" name="number" th:value="*{phoneNumber}">
        </label>
        <label>Почта:
            <input type="text" name="email" th:value="*{email}">
        </label>
        <label>Пароль:
            <input type="text" name="password" th:value="*{password}">
        </label>
        <label>Роль:
            <select id="role" name="role" th:field="*{userRole}">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select>
        </label>
        <button class="button__blue">Сохранить</button>
    </form>
</div>
</div>


<footer class="center">
    <div class="group1">
        <h4>Связь с нами </h4>
        <div class="phone">
            <img th:src="@{/img/login/footer/whatsapp.svg}" alt="asd">
            <h5>+7(927)-081-52-66</h5>
        </div>
    </div>
    <div class="group2">
        <a th:href="'https://www.youtube.com/'">
            <img th:src="@{/img/login/footer/youtube.svg}" alt=""></a>
        <a th:href="'https://www.instagram.com/'">
            <img th:src="@{/img/login/footer/instagram.svg}" alt=""></a>
        <a th:href="'https://www.facebook.com/'">
            <img th:src="@{/img/login/footer/facebook.svg}" alt=""></a>
        <a th:href="'https://www.twitter.com/'">
            <img th:src="@{/img/login/footer/twitter.svg}" alt=""></a>
    </div>
</footer>


</body>
</html>