<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{/style/style_obyavlation.css}">
</head>
<body>
    
    <header class="header">
        <div class="group1">
            <a th:href="@{/main}">
                <img height="21px" th:src="@{img/login/header/logo.png}" alt=""></a>
            <a th:href="@{/user}" class="link">Избранное</a>
            <a th:href="@{/user}" class="link">Мои объявления</a>
            <a th:href="@{/main}" class="link">Рекомендации</a>
        </div>
        <div class="group2">
            <input type="text" name="" id="" class="search">
            <img th:src="@{img/login/header/search.svg}" alt="">
            <button th:onclick="|window.location.href='@{/login}'|">Войти</button>
            <button th:onclick="|window.location.href='@{/create-obyavlation}'|">Разместить объявление</button>
        </div>
    </header>

    <div class = "bodyPage">
        <div class="form-container">
            <div class="label">
                <h1>CHERY Tiggo 8 Pro Max, 2024</h1>
                <h2>Цена: 19 000 000 руб.</h2>
                <img width="800px" src="img/login/body/image.jpg" alt="">
            </div>
            <div class = "information">
                <h2>Связаться с продавцом</h2> 
                <div class="phone">
                    <img src="img/login/footer/whatsapp_black.svg" alt=""></img>
                    <h3>Александр</h4>
                </div>
                <h4>+7(927)-081-52-66</h4>
                <div class="characteristic">
                    <form>
                        <h2>Характеристики</h2>
                        <label >Пробег:</label>
                        <h4 th:text="${run}">158 695 км</h4>
                        <label>Год выпуска:</label>
                        <h4 th:text="${year}">2017 год</h4>
                        <label>Марка:</label>
                        <h4 th:text="${mark}">Chery</h4>
                        <label>Модель:</label>
                        <h4 th:text="${model}">Tiggo 8 Pro Max</h4>
                        <label>Мощность:</label>
                        <h4 th:text="${engine_powers}">300 лс</h4>
                        <label>Объем двигателя:</label>
                        <h4 th:text="${engine_volume}">4</h4>
                        <label>Цвет:</label>
                        <h4 th:text="${color}">Черный</h4>
                        <label>Коробка передач:</label>
                        <h4 th:text="${gearbox}">Робот</h4>
                        <label>Привод: </label>
                        <h4 th:text="${type}">Полный</h4>
                        <label>Тип кузова:</label>
                        <h4 th:text="${type_body}">Седан</h4>
                    </form>
                </div>
                <button>Добавить в избранное</button>
            </div>
        </div>
        <div class="desc">
            <h2>Описание</h2>
            <div class="description">
                <p>🚨 Держим цены и предлагаем выгодные условия для покупки нового автомобиля💥 Максимальная выгода до - 1 505 000 рублей!</p>
                <p>🔥 Скидка до 200 000₽ по программе «СЕМЕЙНЫЙ АВТОМОБИЛЬ» до 31 октября 2024 года</p>
                <p>🎁 У нас подарок на выбор: <br> ✅ Сигнализация <br>✅ Комплект зимней резины <br> ✅ Аксессуары</p>
            </div>
        </div>
        
    </div>

    <footer class="center">
        <div class="group1">
            <h4>Связь с нами </h4>
            <div class="phone">
                <img th:src="@{/img/login/footer/whatsapp.svg}" alt="asd">
                <h5>+7(927)-081-52-66</h5>
            </div>
        </div>
        <div class="group2">
            <a th:href="'https://www.youtube.com/'">
                <img th:src="@{/img/login/footer/youtube.svg}" alt=""></a>
            <a th:href="'https://www.instagram.com/'">
                <img th:src="@{/img/login/footer/instagram.svg}" alt=""></a>
            <a th:href="'https://www.facebook.com/'">
                <img th:src="@{/img/login/footer/facebook.svg}" alt=""></a>
            <a th:href="'https://www.twitter.com/'">
                <img th:src="@{/img/login/footer/twitter.svg}" alt=""></a>
            </div>
    </footer>
</body>
</html>