<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аккаунт</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>

<header class="header">
    <div class="group1">
        <a th:href="@{/main}">
            <img height="21px" th:src="@{/img/login/header/logo.png}" alt=""></a>
        <a th:href="@{/user}" class="link__page">Избранное</a>
        <a th:href="@{/user}" class="link__page">Мои объявления</a>
        <a th:href="@{/main}" class="link__page">Рекомендации</a>
    </div>
    <div class="group2">
        <form th:action="@{/main/search}" method="get" style="display: flex;">
            <input type="text" name="query" id="searchInput" class="search__global" th:value="${searchInput}">
            <button style="background-color: rgba(1,1,1,0)" type="submit" th:src="@{/img/login/header/search.svg}">
                <img th:src="@{/img/login/header/search.svg}" alt="">
            </button>
        </form>
        <button class="button__blue" th:onclick="|window.location.href='@{/create_announcement}'|">Разместить
            объявление
        </button>
        <div th:if="${isAuthenticated}">
            <button class="button__blue" th:onclick="|window.location.href='@{/login}'|">Войти</button>
        </div>
        <div th:unless="${isAuthenticated}">
            <a th:href="@{/user}">
                <img height="25px" th:src="@{/img/login/body/icon-user.png}">
            </a>
        </div>
    </div>
</header>
<div class="content center">

    <form th:object="${user}">
        <div class="body__page">
            <div class="content">
                <h1>Профиль</h1>
                <img class="image" th:src="@{/img/login/body/photo-camera.png}" alt="">
            </div>
            <div class="form__container">
                <input type="hidden" th:field="*{id}" readonly/>
                <input type="hidden" th:field="*{userRole}" readonly/>
                <label>Имя:
                    <input type="text" name="name" th:field="*{name}" readonly>
                </label>
                <label>Фамилия:
                    <input type="text" name="surname" th:value="*{surname}" readonly>
                </label>
                <label>Контактный номер:
                    <input type="text" name="phoneNumber" th:value="*{phoneNumber}" readonly>
                </label>
                <label>Почта:
                    <input type="email" name="email" th:value="*{email}" readonly>
                </label>
                <label>Город:
                    <input type="text" name="city" th:value="*{city}" readonly>
                </label>
                <label>Дата рождения:
                    <input type="date" name="birthday" th:value="*{birthday}" readonly>
                </label>
                <label>Пароль:
                    <input type="text" name="password" th:value="*{password}" readonly>
                </label>
            </div>
        </div>
    </form>
    <div class="content">
        <h1>Объявления</h1>
        <div class="container__four__columns">
            <div class="card" th:each="announcements : ${announcements}">
                <a th:href="@{/car/{id}(id=${announcements.car.id})}">
                    <img th:src="@{/img/login/body/image.jpg}" alt="">
                    <p th:text="${announcements.car.model}">FORD FOCUS 2009</p>
                    <p th:text="${announcements.car.mark}">9.000.000 руб.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="content">
        <h1>Отзывы</h1>
        <div class="feedback">
            <div th:each="feedback : ${feedback}">
                <a th:href="@{/user/{id}(id=${feedback.userFrom.id})}">
                    <h3 th:text="${feedback.userFrom.name}">Author</h3>
                </a>
                <p th:text="${feedback.comment}">Text feedback</p>
            </div>
        </div>
    </div>

    <div class="content">
        <h1>Оставить отзыв</h1>
        <form th:action="@{/feedback/{id}(id=${user_id})}" class="form__container" method="post">
                <textarea id="myTextarea"
                          oninput="autoResize(this)"
                          placeholder="Введите текст..."
                          name="description"
                ></textarea>
            <script>
                function autoResize(textarea) {
                    textarea.style.height = 'auto';
                    textarea.style.height = textarea.scrollHeight + 'px';
                }
            </script>
            <button class="button__blue" type="submit">Опубликовать отзыв</button>
        </form>
    </div>
</div>


<footer class="center">
    <div class="group1">
        <h4>Связь с нами </h4>
        <div class="phone">
            <img th:src="@{/img/login/footer/whatsapp.svg}" alt="asd">
            <h5>+7(927)-081-52-66</h5>
        </div>
    </div>
    <div class="group2">
        <a class="link__icon" th:href="'https://www.youtube.com/'">
            <img th:src="@{/img/login/footer/youtube.svg}" alt=""></a>
        <a class="link__icon" th:href="'https://www.instagram.com/'">
            <img th:src="@{/img/login/footer/instagram.svg}" alt=""></a>
        <a class="link__icon" th:href="'https://www.facebook.com/'">
            <img th:src="@{/img/login/footer/facebook.svg}" alt=""></a>
        <a class="link__icon" th:href="'https://www.twitter.com/'">
            <img th:src="@{/img/login/footer/twitter.svg}" alt=""></a>
    </div>
</footer>


</body>
</html>