.button {
    -fx-background-color: #dcdcdc; 
    -fx-background-radius: 10; 
    -fx-text-fill: rgb(97, 97, 97);
    -fx-font-size: 15px; 
    -fx-padding: 5 5; 
}

.button:hover {
    -fx-background-color: #ababab;
    -fx-cursor: hand; 
}